<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>Log-in</title>
    </head>

    <body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        <li><a href="#" role="button">Log-in</a></li>
                        <li><a href="/reg">Registration</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="login-container">
            <hgroup>
                <h1>Authorization</h1>
                <h3>You can authorize here</h3>
            </hgroup>
            <form id="login_form">
                <div class="grid">
                    <label for="login">
                        login:
                        <input type="text" id="login" name="login" required><br>
                    </label>
                    <label for="pass">
                        password:
                        <input type="password" id="pass" name="pass" required>
                    </label>
                </div>
                <button id="submit" type="submit">Authorize</button>
                <div class="container warn" id="container" ></div>
                <div id="validationContainer"></div>
            </form>
        </div>
        <script  src="/javascripts/authHandler.js" type="module" ></script>
    </body>
</html>
